<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742054659350-hfoc2nc1fqnmib99e46mbmmo47ggg237.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742054659350-hfoc2nc1fqnmib99e46mbmmo47ggg237</string>
	<key>API_KEY</key>
	<string>AIzaSyBtdzt_xNqoSOoExEL3koG8tviQDSN-M_c</string>
	<key>GCM_SENDER_ID</key>
	<string>742054659350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erictriawan.mytasks</string>
	<key>PROJECT_ID</key>
	<string>mytasks-975f7</string>
	<key>STORAGE_BUCKET</key>
	<string>mytasks-975f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742054659350:ios:246d267f5e5581b547bc37</string>
</dict>
</plist>